<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
	<title>Feature Request Page</title>
	<!--<script src="javascripts/angular.min.js" type="text/javascript"></script>-->
	<!-- SCROLLS -->
	<!-- load bootstrap and fontawesome via CDN -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

	<!-- SPELLS -->
	<!-- load angular and angular route via CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
	<script src="javascripts/script.js"></script>
	<script src="javascripts/requestsController.js"></script>
	<script src="javascripts/addController.js"></script>
	<script src="javascripts/aboutController.js"></script>
	
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" media="screen" />

	<base href="/"/>
</head>
<body>

	<!-- HEADER AND NAVBAR -->
	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Feature Requests</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/"><i class="fa fa-home"></i> Requests</a></li>
					<li><a href="#/add"><i class="fa fa-shield"></i> Add</a></li>
					<li><a href="#/about"><i class="fa fa-comment"></i> About</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- MAIN CONTENT AND INJECTED VIEWS -->
	<div id="main">
		{{ message }}
		<!-- angular templating -->
		<!-- this is where content will be injected -->
		<div ng-view></div>
	</div>

</html>
