.idea-list {
	margin-left: 10px;
}

.idea-list-element:hover {
	cursor: pointer;
}

.vote-button {
	height: 25px;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
}

.details {
	font-size:15px;
}